/* Common Styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.btn-primery {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: white;
    border: 0;
    font-size: 20px;
    cursor: pointer;
}
.btn-primery:hover{
    box-shadow: 5px 5px 10px #272727;
}
.title {
    font-size: 40px;
    color: #272727;
    text-align: center;
}
.title span{
    color: #E55473;
}
.description {
    color: rgba(39, 39, 39, 0.60);
    width: 600px;
    margin: 25px auto;
    text-align: center;
}

/* Top part - Navigation menu and banner styles  */
.top-part {
    background: rgba(229, 84, 115, 0.10);
    color: #272727
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px dashed #E55473;
}

.logo {
    font-size: 28px;
}

.logo span {
    color: #E55473
}

.navbar>ul {
    display: flex;
    align-items: center;

}

.navbar>ul>li {
    list-style: none;
    margin-left: 5px;
    padding: 10px;
}

.navbar>ul>li>a:hover {
    color: #E55473;
}

.navbar>ul>li>a {
    text-decoration: none;
    color: #272727;
    font-size: 18px;
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.banner-content {
    max-width: 650px;
}

.banner-title {
    font-size: 80px;
    color: #272727
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin: 30px 0px;
}

/* Fetured section styles */
.featured {
    padding: 100px 0;
    text-align: center;
    max-width: 1400px;
    margin: 0 auto
}

.featured-flowres {
    display: flex;
    justify-content: center;
    gap: 25px;

    margin: 0 auto;

}

.flowers {
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: auto baseline;
    margin-top: 50px;
}


.box1 {
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 464px;
    padding: 110px 76px 0px;
}

.box2 {
    background: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 464px;
    padding: 117px 57px 51px;
}

.box3 {
    background: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 464px;
    padding: 67px 75px 0px;
}

.flower-caption {
    display: flex;
    justify-content: center;
    gap: 400px;
    margin: 30px;

}

.flower-caption a {
    color: #272727;
    font-size: 24px;
}

.flower-caption a:hover {
    color: #E55473;

}

/* Hot deal section styles */
.hot-deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px;
    display: flex;
    justify-content: center;
    gap: 186px;
    align-items: center;
}

.deal-content {
    text-align: center;
}

/* Instagram image section styles */
.instagram{
    margin: 100px 0px;
}
.insta-images{
    display: flex;
    justify-content: center;
    gap:25px;
    margin: 50px 0;
}
.insta-images img:hover{
    box-shadow: 10px 10px 30px #E55473;
}

/* subscribe box styles */
.subscribe-box{
    background-image: url('../assets/Rectangle\ 9.png');
    background-repeat: no-repeat;
    padding: 100px;
    max-width: 1250px;
    margin:150px auto;
    text-align: center;
}
input{
    width: 650px;

border:0;
border-radius: 8px;
padding: 25px;
margin-right:10px
}